body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #eee;
}

.comment {
    margin-bottom: 10px;
}

.date {
    color: rgb(153, 153, 153);
    margin-left: 10px;
    font-weight: 100;
}

.panel-title {
    cursor: pointer;
}

.panel-button {
    font-size: 18px;
    cursor: pointer;
    color: #aaa;
    margin-left: 20px;
}

.panel-button:hover {
    color: #000;
}

.image-thumbnail {
    height: 175px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

.modal-image {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-image .modal-content {
    background-color: #000;
}

.modal-image .modal-dialog {
    width: auto;
    display: inline-block;
}

.modal-image .modal-dialog .modal-header {
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    border-bottom: 0px;
}

.modal-image .modal-body {
    padding-top: 0px;
    text-align: center;
}

.bootstrap .tags {
    background-color: #fff;
    border: 0px solid #fff;
    box-shadow: none;
    -webkit-appearance: none;
}

.bootstrap .tags .tag-item {
    background: #eee;
    border: 0px;
    border-radius: 4px;
    color: rgb(153, 153, 153);
}

.bootstrap .tags .tag-input {
    font-weight: 200;
}

.bootstrap .tags .tag-item span {
    font-weight: 200;
    font-size: 12px;
}

.bootstrap .tags .tag-item button {
    color: rgb(153, 153, 153);
}

.test-pass {
    color: #0a0;
    margin-left: 30px;
}

.test-fail {
    color: #f00;
    margin-left: 30px;
}

.tab-content-attachment {
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-color: #ccc;
    padding: 20px;
}

.tabset {
    margin: 20px;
}

.tabset .nav-tabs {
    cursor: pointer;
}

.tabset .form-control {
    margin-bottom: 10px;
}

.modal-login {
    padding: 30px;
}

.modal-login .col-md-6 {
    cursor: pointer;
    text-align: center;
}

.modal-login .col-md-6:hover {
    background-color: #fafafa;
    font-weight: 500;
}

.modal-login .col-md-6:first-of-type {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ccc;
}

.modal-login img {
    display: block;
    height: 90px;
    margin: auto;
    padding: 10px;
}

.modal-login .col-md-6:first-of-type img {
    height: 90px;
    padding: 0px;
}



.clear {
    clear: both;
}